* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: "Raleway-Medium";
    src: url('../fonts/Raleway-Medium.ttf');
}

body {
    font-family: 'Raleway-Regular', sans-serif;
    padding: 0;
    margin: 0;
}

strong {
    font-weight: 700;
}

.container {
    background-color: #EAEAEA;
    width: 75%;
    margin: auto;
    border-radius: 40px;
    min-height: 400px;
    overflow: hidden;
}

.header {
    background: url('../img/header-bg.png') no-repeat top left;
    background-size: 100% 100%;
    text-align: center;
    padding: 40px 25px;
    padding-top: 30px;
    margin-bottom: 40px;
    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 56px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.contacts {
    width: 95%;
    margin: auto;
    background-color: #fff;
    border: 5px solid #C161EE;
    overflow: hidden;
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    margin-bottom: 40px;
    &__item {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            border: 2px solid #C161EE;
        }
    }
    &__item_1 {
        background: #288BAA;
    }
    &__item_2 {
        background: #2ECADF;
        img {
            margin-right: 4px;
        }
    }
    &__item_3 {
        background: #26DDF5;
    }
    &__item_4 {
        background: #59E390;
    }
    &__group {
        display: flex;
        justify-content: space-between;
        width: 65%;
        margin: 0 auto;
    }
    &__avatar {
        width: 350px;
        height: 350px;
        border: 5px solid rgba(193, 97, 238, 0.9);
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 350px;
            height: 350px;
        }
    }
}

.about {
    width: 95%;
    margin: auto;
    background-color: #fff;
    border: 5px solid #C161EE;
    overflow: hidden;
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 35px 95px;
    &__title {
        font-size: 36px;
        line-height: 56px;
        margin-bottom: 12px;
        text-align: center;
        margin-top: 0;
    }
    &__text {
        font-size: 24px;
        line-height: 48px;
        text-align: justify;
    }
}

li::marker {
    font-weight: bold;
}

.portfolio {
    width: 95%;
    margin: auto;
    background-color: #fff;
    border: 5px solid #C161EE;
    overflow: hidden;
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin-bottom: 30px;
    text-align: center;
    padding: 35px 20px;
    &__title {
        font-size: 36px;
        line-height: 56px;
        text-align: center;
        margin-bottom: 25px;
        margin-top: 0;
    }
}

.site {
    width: 920px;
    margin: 0 auto;
    font-style: normal;
    background-color: #eaeaea;
    border-radius: 35px;
    overflow: hidden;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    text-align: left;

    &__img {
        width: 350px;
        height: 235px;
        object-fit: cover;
        border-radius: 12px;
    }

    &__text {
        width: 400px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__props {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__property {
        margin-bottom: 30px;
    }

    &__description {
        margin-bottom: 20px;
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration-line: underline;
        color: #000000;
    }
}

.property {
    
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 16px;
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 7px;
    }
}

.description {
    
    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 7px;
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
    }
}

.site:hover {
    .site__hover {
        display: flex;
    }
}

.swiper-container {
    margin: 0 auto;
    height: auto;
    width: 92%;
}

.slider-buttons {
    position: relative;
}

.slider-top {
    margin: auto;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-button-next, .swiper-button-prev {
    position: static;
    top: 200px !important;
    outline: none;
}

.swiper-button-next {
    img {
        transform: rotate(180deg);
    }
}



@media (max-width: 1480px) {
    .container {
        width: 85%;
    }
    .slider-top {
        width: 99%;
    }
}

@media (max-width: 1366px) {
    .header {
        background-size: 100% 99%;
        padding-top: 25px;

        &__title {
            font-size: 42px;
        }
    }
    .slider-top {
        width: 100%;
    }
    .site {
        width: 800px;

        &__img {
            width: 315px;
            height: 210px;
        }

        &__text {
            width: 350px;
        }
    }
}

@media (max-width: 1200px) {
    
    .slider-top {
        width: 75%;
    }
    
    .header {
        padding-top: 15px;

        &__title {
            font-size: 36px;
        }
    }
    
    .about {
        padding: 35px 60px;

        &__title {
            font-size: 36px;
        }
        &__text {
            font-size: 24px;
            line-height: 36px;
        }
    }

    .site {
        width: 450px;
        flex-direction: column;
        align-items: center;

        &__img {
            width: 350px;
            height: 235px;
            margin-bottom: 30px;
        }
    }

    .swiper-button-next, .swiper-button-prev {
        top: 350px !important;
    }
    
    .portfolio__title {
        font-size: 36px;
    }
}

@media (max-width: 992px) {

    .header {
        margin-bottom: 25px;
    }
    
    .header {
        background-size: cover;
        background-position: top center;
    }

    .slider-top {
        width: 90%;
    }

    .contacts {

        &__avatar {
            width: 250px;
            height: 250px;
            img {
                width: 250px;
                height: 250px;
            }
        }
        &__item {
            width: 50px;
            height: 50px;
            img {
                width: 30px;
            }
        }
        &__group {
            width: 75%;
        }
    }
    
    .site {
        width: 400px;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    
    .container {
        width: 100%;
        border-radius: 35px;
    }
    
    .slider-top {
        width: 100%;
    }
}

@media (max-width: 576px) {

    .header__title {
        font-size: 30px;
    }
    
    .about {

        &__title {
            font-size: 30px;
        }
        &__text {
            font-size: 24px;
        }
    }
    
    .portfolio__title {
        font-size: 30px;
    }

    .contacts__group {
        width: 85%;
    }

    .site {
        width: 360px;

        &__img {
            width: 315px;
            height: 210px;
        }

        &__text {
            width: 320px;
        }

        &__title {
            font-size: 20px;
        }
    }

    .property__icon {
        width: 25px;
        margin-right: 12px;
    }

    .swiper-button-next, .swiper-button-prev {
        img {
            opacity: 0.4;
        }
    }

    .swiper-button-next:active, .swiper-button-prev:active {
        img {
            opacity: 1;
        }
    }
}

@media (max-width: 480px) {

    .container {
        border-radius: 20px;
    }

    .header__title {
        font-size: 24px;
        line-height: 36px;
    }
    
    .about {
        padding: 25px 30px;
        margin-bottom: 20px;
        &__title {
            font-size: 24px;
            line-height: 36px;
        }
        &__text {
            font-size: 18px;
            line-height: 26px;
        }
    }
    
    .portfolio__title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 12px;
    }

    .contacts {
        padding: 20px;
        margin-bottom: 20px;

        &__avatar {
            width: 180px;
            height: 180px;
            img {
                width: 180px;
                height: 180px;
            }
        }
        &__group {
            width: 90%;
        }
        &__item {
            width: 40px;
            height: 40px;
            img {
                width: 25px;
            }
        }
    }

    .portfolio {
        padding: 25px 10px;
        margin-bottom: 20px;
    }
    
    .slider-top {
        width: 95%;
    }
    
    .site {
        width: 95%;

        &__img {
            width: 100%;
            height: auto;
        }

        &__text {
            width: 100%;
        }
    }

    .property {
        flex-basis: 100%;
    }
}

@media (max-width: 340px) {

    .contacts {
        &__avatar {
            width: 160px;
            height: 160px;
            img {
                width: 160px;
                height: 160px;
            }
        }
        &__group {
            width: 95%;
        }
    }

    .site {
        padding: 20px;
    }
}